*{
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header div{
    background-color: #4872e8;
    margin-bottom: -13px;
    /* text-align: right; */
    /* padding: 3px; */
    text-decoration: none;
}

header div h1{
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 15px;
    left: 170px;
}

header div h1:hover{
    text-decoration: overline;
}

header div.navbar a.navbar_links{
    color: white;
    text-decoration: none;
    margin: 30px;
    position: absolute;
    top: -14px;
}

header div.navbar a#navbar_Home{
    right: 21%;
}

header div.navbar a#navbar_Projects{
    right: 12%;
}

header div.navbar a#navbar_Contact{
    right: 4%;
}

header div.navbar a.navbar_links:hover{
    color: white;
    text-decoration: overline;
}

header div.Background_Text h3{
    color: white;
    font-size: 40px;
    position: relative;
    top: 400px;
    padding: 5px;
}

header div.Background_Text h6{
    color: white;
    font-size: 15px;
    position: relative;
    top: 403px;
    padding: 5px;
}

header div.Background_Text h3:hover{
    display: inline-block;
    color: black;
    background-color: white;
}

header div.Background_Text h6:hover{
    display: inline-block;
    color: black;
    background-color: white;
}



main{
    background-color: white;
    text-align: center;
}

main div img{
    width: 100%;
}

main div h3{
    font-size: 50px;
    font-family: monospace;
}


main div.Section img{
    align-content: center;
    width: 30%;
    padding: 5px;

}

main div.Section img:hover{
    width: 31%;
}

.Img_Group{
    text-align: center;
    margin: 0px 20px;
}
.Img_Indiv{
    display: inline-block;
    width: 30%;
    background-color: rgb(60, 60, 226);
    margin: 5px  3px;
}

.image_Indiv img{
    width: 100%;
}

.Img_Indiv p{
    background-color: rgb(60, 60, 226);
    padding: 25px;
    color: white;
}

.Img_Indiv:hover{
    width: 30.5%;
    text-decoration: overline;
    color: white;
}

footer{
    background-color: black;
    color: white;
}

footer div.socials i{
    color: white;
    display: inline-block;
}

footer div h3{
    font-family: monospace;
    font-size: 30px;
    padding: 40px;
    padding-bottom: 80px;
}

footer div.Piracy_Info h6{
    color: rgba(255, 255, 255, 0.598);
    background-color: #4872e8;
    font-size: 13px;
    padding: 15px;
}